<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CafeteríaPuchi</title>
</head>
<body>
   <header>
    <nav>
        <ul>
            <li>Logo</li>
            <li>Nombre</li>
            <li>Contactanos</li>
        </ul>
    </nav>
   </header>

   <Section class="main-content">
    <div class="productos-container container">
        <h2>Productos</h2>
        <div class="lista-productos container">
            <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, nobis veritatis odio enim molestias necessitatibus animi distinctio dolores cupiditate, omnis laudantium quibusdam. Repellat quisquam asperiores tenetur quis veniam cum inventore.</div>
            <div>ipsum</div>
            <div>ipsum</div>
        </div>
    </div>
   </Section>

   <footer>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam temporibus et assumenda nam, eaque mollitia, eius vero debitis doloremque, numquam libero praesentium. Dolores laudantium error, vero aliquam necessitatibus officiis distinctio?
   </footer>
</body>
</html>